{{ define "header" }}
<div id='header-bar'>
	<span id='header-menu-button'>&#9776;</span>
	{{ if eq .LOGGED_IN "true" }}
		<a href='/'><span id='header-logo' class='logo-with-login'> DMV EXCHANGE </span></a>
		<span id='beta-logo' class='beta-with-login'>*BETA</span>
	{{ else }}
		<a href='/'><span id='header-logo' class='logo-no-login'> DMV EXCHANGE </span></a>
		<span id='beta-logo' class='beta-no-login'>*BETA</span>
	{{ end }}
	<div id='header-menu'>
		<a href='/'>
			<span class='header-menu-option'>Home</span>
		</a>
		<span class='header-menu-option'>Submit advice</span>
		{{ if eq .LOGGED_IN "true" }}
			<a href="/account"><span class='header-menu-option'>Account</span></a>
			<a href="/login/logout"><span class="header-menu-option">Logout</span></a>
		{{ else }}
			<a href='/register'>
				<span class='header-menu-option'>Sign up</span>
			</a>
		{{ end }}
	</div>
	<!-- Header controls -->
	{{ if eq .LOGGED_IN "true" }}
		<div id='header-controls'>
			{{ if eq .PAGE "CREATEPOST" }}
				<span data-active='true' id='header-create-post-button' class='header-control-button'>Create Post</span>
			{{ else }}
				<a href='/p/new'><span data-active='false' id='header-create-post-button' class='header-control-button'>Create Post</span></a>
			{{ end }}

			<span data-active='false' id='header-notifications-button' class='header-control-button'>Notifications</span>
			<span data-active='false' id='header-profile-button' class='header-control-button'>{{ .USERNAME }}</span>
		</div>
	{{ else }}
	<div id='header-controls'>
		<span id='header-login-button' data-active='false' class='header-control-button' data-state='closed'>Log in</span>
		<a href='/register'>
			{{ if eq .PAGE "REGISTER" }}
				<span data-active='true' class='header-control-button'>Register</span>
			{{ else }}
				<span data-active='false' class='header-control-button'>Register</span>
			{{ end }}
		</a>
	</div>
	{{ end }}
	<!-- End header controls -->
	<!-- Login form -->
	{{ if ne .LOGGED_IN "true" }}
		<div id='header-login-container'>
			<form id='header-login-form'>
				<label>Username or email</label>
				<input id='username-or-email' type='text' placeholder='Username or email'>
				<input id='password' type='password' placeholder='Password'>
				<a href="/forgot"><span id='header-login-forgot'>forgot password?</span></a>
			</form>
			<button id='header-login-form-button'>Log in</button>
		</div>
	{{ end }}
	<!-- End login form -->
</div>
<div id='notification-container'></div>
{{ end }}

{{ define "registerForm" }}
	<span id='banner'>Create an account to get started</span>
	<div id='signup-why'>
		<span id='main'>Build trust with your buyers and sellers</span>
		<span id='main-support'>
			With built-in review and reporting system we filter and remove scammers and people who have a history of backing-out/wasting time.
		</span>
		<span id='secondary'>Find buyers and sellers quickly and efficiently</span>
		<span id='secondary-support'>
			Efficient search algorithms ensure you can find relevant products closests to you and at a price you want.
		</span>
		<span id='last'>Build a brand with no overhead</span>
		<span id='last-support'>
			Sell your products through DMV Exchange and avoid the cost and associated overhead of a business.
		</span>
	</div>
	<div id='signup-card'>
		<div id='signup-container'>
			<form id='signup-form' action='/register/process' method='post'>
				<label>Name</label>
				<input id='firstname' name='f' type='text' placeholder='First' class='same-line-input field'>
				<input id='lastname' name='l' type='text' placeholder='Last' class='same-line-input field'>
				<label>Username</label>
				<input id='username' name='u' type='text' placeholder='Username' class='single-line-input field'>
				<label>Password</label>
				<input id='password' name='p' type='password' placeholder='Password' class='single-line-input field'>
				<label>Confirm password</label>
				<input id='password-again' name='pa' type='password' placeholder='Confirm password' class='single-line-input field'>
				<label>Email</label>
				<input id='email' name='e' type='text' placeholder='Email' class='single-line-input field'>
				<label>Confirm email</label>
				<input id='email-again' name='ea' type='text' placeholder='Confirm email' class='single-line-input field'>
				<label>Zipcode</label>
				<input id='zipcode' name='z' maxlength='5' type='text' placeholder='Zipcode' class='same-line-input field'>
				<label>Gender</label>
				<select id='gender-select' name='g' class='field'>
					<option selected='true'>I am...</option>
					<option value='m'>Male</option>
					<option value='f'>Female</option>
				</select>
				<label>Terms and Conditions</label>
				<div id='tos-container' class='field'>
					<input id='tos-checkbox' type='checkbox' value='I_AGREE' name='tos'>
					<span id='tos-disclosure'>
						I agree to the <a target="_blank" href='/h/policy.html'>policies</a> and the <a target="_blank" href='/h/policy.html'>Terms of Service</a>
					</span>
				</div>
				<button id='signup-button'>Sign up</button>
			</form>
		</div>
	</div>
{{ end }}

{{ define "homePage" }}

	<div class="center-col">
	<!--
		<div class='feed-post'>
			<div class='post-hidden-info'>
				<span class='info-post-id'>some-post-id2</span>
				<span class='info-post-timestamp'>some-timestamp</span>
				<span class='info-post-owner'>some-username</span>
				<span class='info-post-owner-id'>some-user-id</span>
			</div>
			<div class='inner-post-top'>
				<span class='post-owner'>some-username</span>
				<span data-tooltip='May 22, 2015 1:32 PM' class='post-timestamp'>1:32 PM</span>
				<span class='post-description'>
					This is a post description, this is for sale at low cost
					hmu for more info
				</span>
			</div>
			<div class='inner-post-center'>
				<div class='post-image-container-background'>
					<div class='post-image-container'>
						<img class='post-image primary-image' src='/img/landing_bg.jpg'>
					</div>
				</div>
			</div>
			<div class='post-action-bar'>
				<span class='want-this-button'>Upvote</span>
				<span class='comment-button'>Comment</span>
				<div class='post-action-menu-container'>
					<img class='post-action-menu-button' src='/img/gear.png'>
					<ul data-state='closed' class='post-action-menu-list'>
						<li>Subscribe</li>
						<li>Mark suspect</li>
					</ul>
				</div>
			</div>
		</div>
	-->
	</div>
{{ end }}

{{ define "createPost" }}
<div data-visible='true' id='post-form-container'>
	<form action='/p/process' method='POST' enctype='multipart/form-data' name='postform' id='post-form' data-type='sale' data-valid='false'>
		<img id='post-form-validator' src='/img/cross.png'>
		<input type='text' name='posttype' class='hidden-input' value='sale'>
		<label>What kind of post is this?</label>
		<div id='post-type-container'>
			<span data-selected='true' data-value='sale' id='post-type-left' class='post-type'>Sale</span>
			<span data-selected='false' data-value='general' id='post-type-right' class='post-type'>General Post</span>
		</div>
		<label>Post description</label>
		<textarea name='postdescription' id='post-form-description'></textarea>
		<input type='file' data-for='#handler-container1' id='photo1' name='photo1' class='post-image hidden-input'>
		<input type='file' data-for='#handler-container2' id='photo2' name='photo2' class='post-image hidden-input'>
		<input type='file' data-for='#handler-container3' id='photo3' name='photo3' class='post-image hidden-input'>
		<input type='file' data-for='#handler-container4' id='photo4' name='photo4' class='post-image hidden-input'>
		<label id='post-image-label'>Sales <span style="color:rgb(190, 0, 0);">must</span> have at least 1 image</label>
		<!-- Photo Handlers -->
		<div id='preview-container'>
			<!-- Handler 1 -->
			<div id='handler-container1' class='handler-container' data-visible='true' data-active='false'>
				<span data-for='#photo1' class='photo-remover'>&times;</span>
				<img data-for='#photo1' id='photo-handler1' class='photo-handler' src='/img/cross.png'>
			</div>
			<!-- Handler 2 -->
			<div id='handler-container2' class='handler-container' data-visible='false' data-active='false'>
				<span data-for='#photo2' class='photo-remover'>&times;</span>
				<img data-for='#photo2' id='photo-handler2' class='photo-handler' src='/img/cross.png'>
			</div>
			<!-- Handler 3 -->
			<div id='handler-container3' class='handler-container' data-visible='false' data-active='false'>
				<span data-for='#photo3' class='photo-remover'>&times;</span>
				<img data-for='#photo3' id='photo-handler3' class='photo-handler' src='/img/cross.png'>
			</div>
			<!-- Handler 4 -->
			<div id='handler-container4' class='handler-container' data-visible='false' data-active='false'>
				<span data-for='#photo4' class='photo-remover'>&times;</span>
				<img data-for='#photo4' id='photo-handler4' class='photo-handler' src='/img/cross.png'>
			</div>
		</div>
	</form>
	<button id='post-form-button'>Create Post</button>
</div>
{{ end }}