<!doctype html>
<html>
<head>
	<title>DX &#8212; {{ .TITLE }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/css/main.css?v=1'>
	<link rel='stylesheet' href='/css/normalize.css?v=1'>
	<link rel='stylesheet' href='/css/common.css?v=1'>
	{{ if eq .PAGE "REGISTER" }}
		<link rel='stylesheet' href='/css/register.css?v=1'>
	{{ end }}
</head>
<body>
	<div id='wrapper'>
		{{ template "header" . }}
		<div id='body-wrapper'>
			{{ if eq .PAGE "REGISTER" }}
				{{ template "registerForm" . }}
			{{ end }}
			{{ if eq .PAGE "HOME" }}
				{{ template "homePage" . }}
			{{ end }}
		</div>
	</div>
	<!-- JScripts -->
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='/js/common.js'></script>
	{{ if eq .PAGE "HOME" }}
		<script src='/js/market.js'></script>
	{{ end }}
	{{ if eq .PAGE "REGISTER" }}
		<script src='/js/register.js'></script>
	{{ end }}
</body>
</html>
